// Post
.post {
  margin-bottom: 20px;
}

.post-image-box {
  background: $black;
  &.reveal-in {
    .post-image {
      opacity: 1;
    }
  }
}

.post-image {
  min-height: 430px;
  margin-bottom: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $black;
  box-shadow: 0 9px 18px 0 rgba(0,0,0,0.25);
  position: relative;
  opacity: 0;
  transition: all 1s cubic-bezier(0.6, 0.3, 0, 1);
  &:after {
    content: "";
    display: table;
    width: 100%;
    padding-top: 50%;
  }
}

.post-head, .post-content {
  background: rgba($blue-darken, .95);
}

.post-content {
  padding: 40px 15px;
  box-shadow: 0 9px 18px 0 rgba(0,0,0,0.25);
}

.post-head, .post-body {
  margin-bottom: 20px;
  border-bottom: 1px solid $border-color;
}

.post-head {
  padding-bottom: 30px;
  .post-tag {
    margin-bottom: 20px;
    text-align: center;
    .tag {
      display: inline-block;
      padding: 5px 15px;
      margin-right: 5px;
      font-size: 12px;
      line-height: 18px;
      font-weight: bold;
      border: 1px solid $primary-color;
      text-transform: capitalize;
      color: $primary-color;
      transition: $global-transition;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        background: $primary-color;
        color: $white;
      }
    }
  }
  .post-title {
    font-size: 28px;
    text-align: center;
    font-weight: normal;
    line-height: 28px;
    margin-bottom: 5px;
  }
  .post-date {
    span {
      font-size: 12px;
    }
  }
}

.post-info, .post-info-author {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.post-info {
  .post-info-author {
    .info-author-avatar {
      display: inline-block;
      width: 32px;
      height: 32px;
      margin-right: 10px;
      border-radius: 50%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .info-author-name, span {
      font-size: 12px;
      text-transform: uppercase;
    }
    span {
      margin-right: 10px;
    }
    .info-author-name {
      position: relative;
      padding-right: 20px;
      margin-right: 15px;
      color: $text;
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        display: block;
        width: 2px;
        height: 12px;
        background: $border-color;
      }
    }
  }
}

.post-body {
  padding-bottom: 20px;
  
  // Readability improvements
  font-size: 18px;
  line-height: 1.8;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  
  // Better paragraph spacing
  p {
    margin-bottom: 1.5em;
    color: var(--text-primary);
  }
  
  // Improved heading hierarchy
  h2 {
    margin-top: 2em;
    margin-bottom: 0.75em;
    color: var(--text-heading);
    font-weight: 600;
    line-height: 1.3;
  }
  
  h3 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    color: var(--text-heading);
    font-weight: 600;
    line-height: 1.3;
  }
  
  h4 {
    margin-top: 1.25em;
    margin-bottom: 0.5em;
    color: var(--text-primary);
    font-weight: 600;
  }
  
  // Better blockquotes
  blockquote {
    background: rgba(26, 188, 156, 0.05);
    border-left: 4px solid var(--accent-color);
    padding: 1em 1.5em;
    margin: 1.5em 0;
    font-style: italic;
    color: var(--text-primary);
    border-radius: 0 4px 4px 0;
    
    p:last-child {
      margin-bottom: 0;
    }
  }
  
  // Better code blocks
  pre {
    background: var(--bg-code);
    border-left: 3px solid var(--accent-color);
    padding: 1.5em;
    margin: 1.5em 0;
    border-radius: 4px;
    overflow-x: auto;
    font-size: 15px;
    line-height: 1.6;
    color: var(--text-primary);
  }
  
  // Inline code
  code {
    background: var(--bg-code);
    padding: 0.2em 0.4em;
    border-radius: 3px;
    font-size: 0.9em;
    color: var(--text-primary);
  }
  
  // Don't double-style code in pre
  pre code {
    background: none;
    padding: 0;
    font-size: inherit;
    color: inherit;
  }
  
  // Better lists
  ul, ol {
    margin-bottom: 1.5em;
    padding-left: 2em;
    
    li {
      margin-bottom: 0.5em;
      line-height: 1.7;
      color: var(--text-primary);
    }
  }
  
  // Better links in content
  a {
    color: var(--link-color);
    text-decoration: underline;
    text-decoration-color: var(--link-color);
    text-underline-offset: 2px;
    transition: all 0.2s ease;
    
    &:hover {
      color: var(--accent-color);
      text-decoration-color: var(--accent-color);
    }
    
    &:focus {
      outline: 2px solid var(--accent-color);
      outline-offset: 2px;
      border-radius: 2px;
    }
  }
  
  // Better horizontal rules
  hr {
    margin: 2.5em 0;
    border: 0;
    height: 2px;
    background: linear-gradient(to right, transparent, var(--border-color), transparent);
  }
  
  // Better tables
  table {
    margin: 1.5em 0;
    font-size: 16px;
  }
  
  // Images with captions
  img + em {
    font-size: 14px;
    color: $gray-blue;
    font-style: italic;
  }
}

.post-share {
  padding: 10px 0;
  .share-item {
    display: inline-block;
    padding-right: 15px;
    a {
      color: $border-color;
      &:hover {
        color: $primary-color;
      }
      i.ion {
        font-size: 20px;
      }
    }
  }
}

// POST NAVIGATION
.post-navigation {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.prev, .next {
  flex-basis: 100%;
  padding: 15px;
  background: #26272B;
  &:hover {
    background: darken(#26272B, 3%);
    .post-nav-title {
      color: $primary-color;
      transition: $global-transition;
    }
  }
  .post-nav-arrow {
    font-size: 14px;
    color: $text;
  }
  .post-nav-title {
    font-size: 18px;
    color: $text;
    transition: $global-transition;
  }
}

.prev {
  margin-bottom: 10px;
}

.prev, .next {
  text-align: center;
}

// COMMENTS SECTION
.comments {
  padding: 0 15px;
  background: $blue-darken;
}

// MEDIA
@media only screen and (min-width: 576px) {
  .post-content {
    padding: 40px;
  }
  .post-head {
    .post-title {
      font-size: 43px;
      line-height: 43px;
      margin-bottom: 10px;
    }
  }
  .post-navigation {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .prev, .next {
    flex-basis: 48%;
    padding: 20px;
    .post-nav-title {
      font-size: 21px;
    }
  }
  .prev {
    text-align: left;
    margin-bottom: 0;
  }
  .next {
    text-align: right;
  }
  .comments {
    padding: 0 40px;
  }
}
// Readi
ng time
.post-reading-time, .article-reading-time {
  .reading-time {
    font-size: 12px;
    color: var(--text-secondary);
    text-transform: uppercase;
    i.ion {
      font-size: 14px;
      vertical-align: middle;
      margin-right: 3px;
    }
  }
}

.post-info {
  .post-reading-time {
    margin-left: 15px;
  }
}

.article-info {
  .article-reading-time {
    margin: 0 10px;
  }
}
