<header class="header">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="header-box">
          <div class="logo-title">
            <a href="{{site.baseurl}}/" class="logo-text">TECHNICAL_ANXIETY</a>
          </div>

          <nav class="nav-menu">
            <ion-icon name="close-outline" class="menu-close"></ion-icon>
            <ul class="menu-list">
              <li class="menu-item"><a href="{{site.baseurl}}/" class="menu-link">Home</a></li>
              <li class="menu-item"><a href="{{site.baseurl}}/start-here/" class="menu-link">Start Here</a></li>
              <li class="menu-item"><a href="{{site.baseurl}}/azure/" class="menu-link">Azure</a></li>
              <li class="menu-item"><a href="{{site.baseurl}}/governance/" class="menu-link">Governance</a></li>
              <li class="menu-item"><a href="{{site.baseurl}}/operations/" class="menu-link">Operations</a></li>
              <li class="menu-item"><a href="{{site.baseurl}}/leadership/" class="menu-link">Leadership</a></li>
              <li class="menu-item"><a href="{{site.baseurl}}/log-analytics/" class="menu-link">Log Analytics</a></li>
              <li class="menu-item"><a href="{{site.baseurl}}/archive/" class="menu-link">Archive</a></li>
              <li class="menu-item"><a href="{{site.baseurl}}/about/" class="menu-link">About</a></li>
            </ul>
          </nav>
          <div class="nav-buttons">
            <ion-icon name="menu-outline" class="menu-button d-hide"></ion-icon>
            <ion-icon name="search-outline" class="search-button"></ion-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="search">
    <div class="search-box">
      <ion-icon name="close-outline" class="search-close-button"></ion-icon>
      <div class="search-hint">Press <kbd>Ctrl</kbd> + <kbd>K</kbd> to search (or <kbd>⌘</kbd> + <kbd>K</kbd> on Mac)</div>
      <label for="js-search-input" class="screen-reader-text">Search</label>
      <input type="text" id="js-search-input" class="search-text" autocomplete="off" placeholder="Search posts by title, content, or tags...">
      <ol id="js-results-container" class="search-results-list"></ol>
    </div>
  </div>
</header> <!-- /.header -->
