<header class="header">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="header-box">
          <div class="logo-title">
            <a href="{{site.baseurl}}/" class="logo-text">TECHNICAL_ANXIETY</a>
          </div>

          <nav class="nav-menu">
            <ion-icon name="close-outline" class="menu-close"></ion-icon>
            <ul class="menu-list">
              <li class="menu-item"><a href="{{site.baseurl}}/" class="menu-link">Home</a></li>
              {% for page in site.pages %}
                {% unless page.name == 'tags.html' or page.name == '404.html' %}
              {% if page.title %}
              <li class="menu-item"><a href="{{ page.url | prepend: site.baseurl }}" class="menu-link">{{ page.title }}</a></li>
              {% endif %}
                {% endunless %}
              {% endfor %}
            </ul>
          </nav>
          <div class="nav-buttons">
            <ion-icon name="menu-outline" class="menu-button d-hide"></ion-icon>
            <ion-icon name="search-outline" class="search-button"></ion-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="search">
    <div class="search-box">
      <ion-icon name="close-outline" class="search-close-button"></ion-icon>
      <label for="js-search-input" class="screen-reader-text"></label>
      <input type="text" id="js-search-input" class="search-text" autocomplete="off" placeholder="Search Something...">
      <ol id="js-results-container" class="search-results-list"></ol>
    </div>
  </div>
</header> <!-- /.header -->
