// Main Colors
$primary-color: #2196F3;
$secondary-color: #C19CD8;
$highlight: #ffeea8;
$text: #D9E0F0; // Brightened from #C9D3E7 for better readability
$gray-blue: #8B95B0; // Brightened from #707890 for better link contrast
$white: #ffffff;
$black: #101010;
$lighten-black: #323743;
$blue-black: #2C2F36;
$blue-darken: #232427;
$green-darken: #2C3635;
$danger: #e02f40;
$success: #34a74e;


// Background Colors
$background: $blue-black;

// Body Color
$body-color: #D9E0F0; // Brightened for better readability

// Headings
$heading-font-color: #E5EAF5; // Brightened for better hierarchy
$heading-font-color-dark: #404040; // For light backgrounds

// Links
$link-color: $gray-blue;
$link-color-hover: lighten($link-color, 12%);

// Button
$button-color: $gray-blue;
$button-background-color: $gray-blue;

// Border
$border-color: #3E4250;
